name: clang-format-check

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - check: 'src'
          - check: 'tests'
    steps:
    - uses: actions/checkout@v6
    - name: Run clang-format style check
      shell: bash
      run: |
        CHECK_PATH="${{ matrix.path['check'] }}"
        EXCLUDE_REGEX="${{ matrix.path['exclude'] }}"
        FILES=$(find "$CHECK_PATH" -type f \( -name "*.h" -o -name "*.H" -o -name "*.hpp" -o -name "*.hh" -o -name "*.h++" -o -name "*.hxx" -o -name "*.c" -o -name "*.C" -o -name "*.cpp" -o -name "*.cc" -o -name "*.c++" -o -name "*.cxx" -o -name "*.ino" -o -name "*.pde" -o -name "*.cu" -o -name "*.proto" \))
        if [ -n "$EXCLUDE_REGEX" ] && [ "$EXCLUDE_REGEX" != "^$" ]; then
          FILES=$(echo "$FILES" | grep -vE "$EXCLUDE_REGEX")
        fi
        if [ -n "$FILES" ]; then
          echo "$FILES" | xargs -r clang-format-18 --dry-run --Werror
        else
          echo "No files found to check in $CHECK_PATH"
        fi
