name: clang-format-check

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - check: 'src'
          - check: 'tests'
    steps:
    - uses: actions/checkout@v6
    - name: Install clang-format
      run: |
        sudo apt-get update
        sudo apt-get install -y clang-format-18
    - name: Run clang-format style check
      run: |
        # Use find to get all .cpp and .h files in the specified path
        # then run clang-format-18 on them.
        # --Werror makes it fail if there are formatting issues.
        # --dry-run ensures it doesn't modify the files.
        find ${{ matrix.path['check'] }} -name "*.cpp" -o -name "*.h" | xargs clang-format-18 --Werror --dry-run
